%% -*- mode: erlang -*-
%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

{deps, [
    {lager, ".*", {git, "git://github.com/basho/lager.git", {branch, "master"}}}
]}.

{erl_opts, [
    {parse_transform, lager_transform}
]}.

%% Add dependencies that are only needed for development here. These
%% dependencies will be hidden from upstream projects using this code
%% as a dependency.
%% {dev_only_deps,
%%  [
%%   {proper, ".*", {git, "git://github.com/manopapad/proper.git", "master"}}
%%  ]}.

{use_edown, true}.
{cover_enabled, true}.
